<div id="audiocontainer" style="display: flex;">
    <div id="audioname" style="display:flex;flex-direction:column;justify-content:left;flex:1;padding:0.6rem;">
        <p>{{ include.audioname }}</p>
    </div>
    <div id="audioplayer" style="display:flex;flex-direction:column;justify-content:right;flex:0;padding:0rem;">
        <audio controls muted="false" preload="metadata">
            <source src="https://raw.githubusercontent.com/georgy-july/georgy-july.github.io/master/assets/audio/{{ include.src }}" type="audio/mp3">
            <p>Your browser doesn't support HTML5 audio. Here is a <a href="https://raw.githubusercontent.com/georgy-july/georgy-july.github.io/master/assets/audio/{{ include.src }}">link to the audio</a> instead.</p>
        </audio>
    </div>
</div>
