#audio {
  width: 75%;
  height: 85px;
}

#playlist {
  width: 75%;
  background-color: rgba(202, 203, 205, 0.15);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 0em;
  padding: 1em 1em 1em;
  list-style-type: none;
}
#playlist li {
  margin-bottom: 0.1em;
  border-bottom: 1px solid grey;
}

#playlist li a {
  color: #2F4F4F;
  text-decoration: none;
  padding: 5px;
  display: block;
}

#playlist .active a {
  color: #808080;
  text-decoration: none;
  font-weight: bold;
}

#playlist li a:hover {
  text-decoration: none;
  color: #9891db;
}
